/*
/**/*BACKUP*

!.gitignore
!.gitconfig

!.config
/.config/*
!.config/i3
!.config/openbox
!.config/orage
/.config/tint2/tint2rc.backup*
!.config/tint2
!.config/ulauncher
!.config/dunst

/.screenlayout/*
!.screenlayout/all_monitors.sh
!.screenlayout/external_monitor.sh
!.screenlayout/internal_monitor.sh
!.screenlayout/toggle_monitors.sh
!.my_alias
!.my_functions
!.zshrc

!.gtkrc-2.0
!.config/gtk-2.0
!.config/gtk-3.0

!.local
/.local/*
!.local/share
/.local/share/*
!.local/share/xfce4
/.local/share/xfce4/*
!.local/share/xfce4/terminal
/.local/share/xfce4/terminal/*
!.local/share/xfce4/terminal/colorschemes
/.local/share/xfce4/terminal/colorschemes/*
!.local/share/xfce4/terminal/colorschemes/nord.theme
